<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Как это работает</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1. Консультация</h4>
                                    <h4 class="subheading">С нашим специалистом</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Специалист проведет с Вами первичную консультацию, где расскажет Вам о преимуществах процедуры "Банкротства физических лиц", а также оценит ваше финансовое положение и сделает заключение, подходите ли Вы для процедуры банкротсва или нет. Да, не все клиенты могут подойти для проведения процедуры банкротства, поэтому мы и проводим первичные консультации бесплатно. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2. Заключаете договор</h4>
                                    <h4 class="subheading">С нашей компанией</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Специалист подробно объяснит пошагово всю процедуру и проконсультирует по цене договора. Цена договора может отличаться, так как по каждому клиенту  работа разной степени сложности. Стандартная цена договора от 10000 тыс/руб в мес. в течении 12 месяцев. Забудьте о коллекторах и банках - как только Ваше заявления вступит в законную силу, мы сразу же уведомим всех кредиторов о том, что вы проходите процедуру банкротства и Вас перестанут беспокоить.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>3. Ожидаете результата</h4>
                                    <h4 class="subheading">Следите за ходом дела</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Процедура "банкротства физического лица" длится в среднем от 6 до 12 месяцев. Вы просто занимаетесь своими делами и ожидаете результата.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>4. Получаете результат</h4>
                                    <h4 class="subheading">Завершение процедуры</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">После того как суд вынесит соответсвующее определение "о признание гражданина банкротом", процедура завершается. Вы становитесь банкротом. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Долгов
                                    <br>больше
                                    <br>НЕТ!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>